$background: #fff;
$link-active: #dbb075;

$button-success-border: #3CB58B;
$button-info-border: #1F9BE6;
$button-warning-border: #dbb075;
$button-danger-border: #E23B13;

/*
#f5f6f7
00b5ec
*/

body {
    margin: 0;
    padding: 0;
    background: $background;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.header {
    margin: 20px 0;

    a {
        background: none;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;

        &:hover, &:focus {
            color: $link-active;
            background: none !important;
            outline: 0;
        }
    }

    h3 {
        color: #000;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 40px;
    }

    .btn-success {
        background: none;
        text-shadow: none;
        box-shadow: none;

        color: #797979;
        border: 1px solid $link-active;
        padding: 10px 25px;
    }
}

.current-status {
    margin: 40px 0;

    div {
        text-align: center;

        h4 {
            color: $link-active;
            font-weight: 300;
        }
    }
}


.modal-backdrop.fade {
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}
.modal-backdrop.fade.in {
    opacity: .8;
    -webkit-filter: alpha(opacity=80);
    filter: alpha(opacity=80);
}
.modal.fade .modal-dialog {
    transition: opacity .2s ease-out,transform .2s ease-out;
}

.modal {
    h4 {
        margin-bottom: 10px;
    }

    p {
        color: #757575;
    }

    .form-control {
        padding: 20px 10px;
    }

    .btn {
        width: 100%;
        padding: 10px;
        background: $button-success-border;
        border: 0;
    }

    .modal-title {
        font-weight: 300;
    }

    .modal-body, .modal-footer {
        background: #eeeeee;
    }

    .modal-body {
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .modal-footer {
        border: 0;
    }
}


.issues-list {
    h4 {
        margin-bottom: 20px;
    }

    .btn-info {
        background: none;
        text-shadow: none;
        box-shadow: none;

        color: #000 !important;
        font-weight: 300;
        border: 1px solid $button-info-border;
        padding: 10px 25px;

        &:hover, &:focus {
            background: none !important;
            outline: 0;
        }
    }

    .issue {
        margin-bottom: 15px;

        &.bs-callout {
            padding: 12px 20px;
            margin: -1px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
        }

        &.bs-callout-success {
            border-left-color: $button-success-border;
        }
        &.bs-callout-info {
            border-left-color: $button-info-border;
        }
        &.bs-callout-warning {
            border-left-color: $button-warning-border;
        }
        &.bs-callout-danger {
            border-left-color: $button-danger-border;
        }

        .time {
            font-size: 11px;
        }
    }
}